<h2>Домашняя страница</h2>
<div class="row">
  <div class="span9" id="content">
    <div id="content-block">
      dfd
    </div>
  </div>
  <div class="span3" id="sidebar">
    <div id="sidebar-content">
      <h4>Последние проекты</h4>
    </div>
  </div>
</div>