/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap-datepicker3
 *= require_self
 *= require_tree .
 */

ul.projects.root {
    margin: 0;
    padding: 0;
}

ul.projects li{
    margin-bottom: 10px;
}

ul li{
    list-style: none;
}

ul.projects {
    border-left: 3px solid #e0e0e0;
    padding-left: 1em;
}

#block-menu{
    float: right;
}

#block-menu li{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.nav.nav-tabs li a{
    color: #555555;
}

.block{
    border: 1px solid #e0e2e3;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

#logo{
    margin-top: 40px;
    font-size: 30px;
    color: #ffffff;
}

#logo a{
    margin-top: 40px;
    font-size: 30px;
    color: #ffffff;
}

#right{
    float: right;
    margin-bottom: 10px;
}